<div class="container" *ngIf="furniture$ | async as furn">
  <div class="row space-top">
    <div class="col-md-12">
      <h1>Furniture Details</h1>
    </div>
  </div>
  <div class="row space-top">
    <div class="col-md-4">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <blockquote class="card-blockquote">
            <img src="{{furn.image}}" />
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <p>Make: {{furn.make}}</p>
      <p>Model: {{furn.model}}</p>
      <p>Year: {{furn.year}}</p>
      <p>Description: {{furn.description}}</p>
      <p>Price: {{furn.price}}</p>
      <p>Material: {{furn.material}}</p>
    </div>
  </div>