<div class="container" align="center">
  <div *ngIf="loginFailed" class="alert alert-danger">
    {{errorMessage}}
  </div>
  <h1>Login</h1>
  <form (ngSubmit)="loginUser()" #loginForm="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" [(ngModel)]="model.username" #usernameField="ngModel" name="username"
        required>
      <div class="alert alert-danger" [hidden]="usernameField.pristine || usernameField.valid">Username is required</div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" [(ngModel)]="model.password" #passwordField="ngModel" name="password"
        required>
      <div class="alert alert-danger" [hidden]="passwordField.pristine || passwordField.valid">Password is required</div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>