<div class="card" style="margin: 50px;">
  <div class="row no-gutters" style="margin: 50px;" *ngIf="event$ | async as ev">
    <aside class="col-sm-5 border-right">
      <article class="gallery-wrap">
        <div class="gutters">
          <img class="col" src="{{ev.image}}">
        </div>
      </article>
    </aside>
    <aside class="col-sm-7">
      <h4>
        <span class="badge badge-primary right">{{ev.startDate | date:'fullDate'}}</span>
      </h4>
      <article class="p-5">
        <h3 class="title mb-3">{{ev.title}}
          <span class="badge badge-warning">{{ev.status}}</span>
        </h3>
        <dl>
          <dt>Description</dt>
          <dd>
            <p>{{ev.description}}</p>
          </dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Organizer</dt>
          <dd class="col-sm-9">by {{ev.organizer}}</dd>

          <dt class="col-sm-3">Date</dt>
          <dd class="col-sm-9">{{ev.startDate | date:'longDate'}}</dd>

          <dt class="col-sm-3">Time</dt>
          <dd class="col-sm-9">{{ev.startTime}}</dd>

          <dt class="col-sm-3">Venue</dt>
          <dd class="col-sm-9">{{ev.venue}}</dd>

          <dt class="col-sm-3">Capacity</dt>
          <dd class="col-sm-9">{{ev.capacity}}</dd>

          <dt class="col-sm-3">Tag</dt>
          <li class="badge badge-pill badge-primary"># {{ev.category}}</li>
        </dl>
        <div class="rating-wrap">
          <div class="label-rating">
            <i class="fas fa-bookmark"></i>
            <b> {{ev.orders}}</b> orders
          </div>
        </div>
        <hr>
        <a [hidden]="ev.capacity <= ev.orders" (click)="order(ev._id)" class="btn  btn-outline-primary">
            <i class="far fa-bookmark"></i> Reserve seat </a>
        <p class="alert alert-info" *ngIf="ev.capacity <= ev.orders">Sorry! All seats are reserved.</p>
      </article>
    </aside>
  </div>
</div>