<div class="container">
  <h1 class="text-center lead">
    Find your next event experience
  </h1>
  <br/>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let e of events$ | async | paginate : {
      id: 'allEvents',
      itemsPerPage: pageSize,
      currentPage: currentPage 
    }">
    {{events$}}
      <div class="card">
        <div class="text-center">
          <img class="card-img-top img-fluid" src="{{e.image}}" alt="Card image cap">
          <button *ngIf="authService.isAdministrator()" type="button" class="btn btn-outline-danger" (click)="delete(e._id)" style="margin: 10px; border-radius: 25px;">
              <i class="fas fa-trash" (click)="delete(e._id)"></i>
            </button>
            <button *ngIf="authService.isAdministrator()" type="button" class="btn btn-outline-success" routerLink="/events/edit/{{e._id}}" style="margin: 10px; border-radius: 25px;">
              <i class="fas fa-pen"></i>
            </button>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <b>{{e.title}}</b>
          </h5>
          <li class="badge badge-pill badge-primary"># {{e.category}}</li>
          <p class="card-text">{{e.description | slice:0:100}} . . .</p>
          <hr/>
          <p class="card-text-right">{{e.startDate | date:'mediumDate'}} | {{e.startTime}} (EEST)</p>
          <button type="button" class="btn btn-outline-primary" routerLink="/events/details/{{e._id}}">Read more</button>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination justify-content-center" style="padding: 30px;" *ngIf="events$ | async">
    <pagination-controls id="allEvents" class="my-pagination" (pageChange)="pageChanged($event)" maxSize="10" directionLinks="true"
      autoHide="true" responsive="true" previousLabel="Previous" nextLabel="Next">
    </pagination-controls>
  </div>
</div>