<div class="d-flex flex-column flex-md-row align-items-center p-2 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <nav class="navbar navbar-expand-md">
    <img class="my-0" src="assets/images/events-logo.png" style="height: 60px;" alt="event-logo">
    <a class="navbar-toggler text-dark p-3" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </a>
    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-dark p-3" routerLink="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark p-3" routerLink="/news">News</a>
        </li>
        <li (click)="expandMenu()" [class]="dropdownList" *ngIf="authService.isAuthenticated()">
          <a class="nav-link dropdown-toggle text-dark p-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Events</a>
          <div [class]="dropdownMenu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="events/all">All Events</a>
            <a class="dropdown-item" routerLink="events/my">My Events</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="events/create">Create</a>
          </div>
        </li>
        <li *ngIf="authService.isAuthenticated()" class="p-2 nav-item">
          <a class="btn btn-outline-primary" (click)="logout()">Logout</a>
          <li>
            <li *ngIf="!authService.isAuthenticated()" class="p-2 nav-item">
              <a class="btn btn-outline-primary" routerLink="/auth/signin">Sign in</a>
            </li>
            <li *ngIf="!authService.isAuthenticated()" class="p-2 nav-item">
              <a class="btn btn-outline-primary" routerLink="/auth/signup">Sign up</a>
            </li>
      </ul>
    </div>
  </nav>
</div>