<div class="jumbotron">
  <div class="container">
    <h1>Find a movie</h1>
    <p>Search for a movie using the form below:</p>
    <form>
      <input class="col-lg-6 form-control-lg" type="text">
      <br/>
      <br/>
      <button class="btn btn-primary btn-lg">Search</button>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Popular Movies</h2>
    <br/>
  </div>
  <div class="panel-body">
    <div class="row" *ngIf="popular">
      <div *ngFor="let movie of popular;let i=index" class="col-md-2">
        <app-movie [movieProps]="movie" *ngIf="i < 6"></app-movie>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">In Theaters</h2>
    <br/>
  </div>
  <div class="panel-body">
    <div class="row" *ngIf="theaters">
      <div *ngFor="let movie of theaters;let i=index" class="col-md-2">
        <app-movie [movieProps]="movie" *ngIf="i < 6"></app-movie>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Kids</h2>
    <br/>
  </div>
  <div class="panel-body">
    <div class="row" *ngIf="kids">
      <div *ngFor="let movie of kids;let i=index" class="col-md-2">
        <app-movie [movieProps]="movie" *ngIf="i < 6"></app-movie>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Best Dramas</h2>
    <br/>
  </div>
  <div class="panel-body">
    <div class="row" *ngIf="drama">
      <div *ngFor="let movie of drama;let i=index" class="col-md-2">
        <app-movie [movieProps]="movie" *ngIf="i < 6"></app-movie>
      </div>
    </div>
  </div>
</div>