<section class="section">
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="card card-image" style="background-image: url(assets/images/welcome.jpg); width: 100%; height: 450px;">        
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4" >
          <div>
            <h2 class="card-title py-3 font-weight-bold text-center">
              <strong>Claim your event</strong>
            </h2>
            <a class="btn btn-outline-primary">
              <i class="fas fa-layer-group" routerLink="/events/all">View events</i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>