
<section class="section">

  <h2 class="h1-responsive font-weight-bold text-center my-5">Our best projects</h2>

  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="card card-image" style="background-image: url(https://dukagjinmaloku.files.wordpress.com/2018/05/ntnxconf2018.jpg?w=551);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h6 class="purple-text">
              <i class="fa fa-plane"></i>
              <strong> Travel</strong>
            </h6>
            <h3 class="card-title py-3 font-weight-bold">
              <strong>This is card title</strong>
            </h3>
            <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio vero
              odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed qui, dolorum!</p>
            <a class="btn btn-outline-primary">
              <i class="fa fa-clone left"></i> View project</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20%2873%29.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h6 class="pink-text">
              <i class="fa fa-pie-chart"></i>
              <strong> Marketing</strong>
            </h6>
            <h3 class="card-title py-3 font-weight-bold">
              <strong>This is card title</strong>
            </h3>
            <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio vero
              odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed qui, dolorum!</p>
            <a class="btn btn-pink btn-rounded">
              <i class="fa fa-clone left"></i> View project</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20%2847%29.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h6 class="green-text">
              <i class="fa fa-eye"></i>
              <strong> Entertainment</strong>
            </h6>
            <h3 class="card-title py-3 font-weight-bold">
              <strong>This is card title</strong>
            </h3>
            <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio vero
              odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed qui, dolorum!</p>
            <a class="btn btn-success btn-rounded">
              <i class="fa fa-clone left"></i> View project</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
