<!-- <section class="section">
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="card card-image" style="background-image: url(assets/images/welcome.jpg); width: 100%; height: 450px; opacity:0.3;">
        <div class="text-center rgba-black-strong py-3 px-4" style="margin: 150px">
          <h2 class="card-title py-3 font-weight-bold text-dark">
            <strong>Claim your event</strong>
          </h2>
          <a class="btn btn-outline-primary text-dark">
            <i class="fas fa-layer-group" routerLink="/allevents">View events</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section> -->


<div class="mt-5"></div>
<section class="latest py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Leading In <br/>The Event-Planning</h2>
        <p class="py-3">Our company allows users to browse, create, and promote all kind of local events.
          Just in minutes you can create professional event ticketing and submit pages.
        </p>
        <a href="/allevents" type="button" class="btn btn-outline-primary mb-3">Find Out More Events</a>
      </div>
      <div class="col-md-4 latest-box">
        <a>
          <img class="no-mp" src="assets/images/home1.jpg" style="margin:-14px;padding:0px;width: 500px;">
        </a>
      </div>
      <div class="col-md-4 latest-box">
                <a>
            <img class="no-mp" src="assets/images/home2.jpg" style="margin:0px;padding:0px;width: 400px;">
          </a>
      </div>
    </div>
  </div>
</section>