<!-- <footer class="page-footer font-small mdb-color pt-4" style="position: relative; bottom: 0">
  <div class="container text-center text-md-left">
    <hr>
    <div class="row d-flex align-items-center">
      <div class="col-md-7 col-lg-8">
        <p class="text-center text-md-left">© 2018 Copyright:
          <strong> SpecialEvent</strong>
        </p>
      </div>
      <div class="col-md-5 col-lg-4 ml-lg-0">
      </div>
    </div>
  </div>
</footer> -->


<!-- Footer -->
    <footer class="py-5 bg-light">
      <div class="container">
        <p class="m-0 text-center text-dark">Copyright &copy; SpecialEvent 2018 by Svetlio</p>
      </div>
      <!-- /.container -->
</footer>
  