/* You can add global styles to this file, and also import other style files */
.footer {
  position: float;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.error-template {
  text-align: center;
  margin: 50px;
  padding: 50px;
}